#swiper {
  width: 20em;
  border: 5px solid yellow;
  margin: 10em;
  overflow: hidden;
}

#image-container {
  display: flex;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

img {
  max-width: 100%;
}
